#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#add-btn {
  border-radius: 2rem 2rem 0 0;
  cursor: pointer;
  text-align: center;
}

#reset-button {
  border-radius: 0 0 2rem 2rem;
  cursor: pointer;
  text-align: center;
}

img {
  width: 7rem;
}

.reset-button {
  margin-top: 20px;
}
